10267/29-07_09-08_2013/src/Modulo12.ClientWithWsdl/Service References/Catalogo/Catalogo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/Catalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modulo12.Model" />
  <xs:element name="ObterDescricaoProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProduto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterDescricaoProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterDescricaoProdutoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modulo12.Model" minOccurs="0" name="produto" nillable="true" type="q1:ProdutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modulo12.Model" minOccurs="0" name="SalvarProdutoResult" nillable="true" type="q2:ProdutoDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>