10267/29-07_09-08_2013/src/Modulo12.ClientWithWsdl/Service References/Catalogo/Catalogo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modulo12.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modulo12.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProdutoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdutoDto" nillable="true" type="tns:ProdutoDto" />
</xs:schema>