10267/29-07_09-08_2013/src/Modulo12.ClientWithWsdl/Service References/Catalogo/CatalogoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3333/Catalogo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3333/Catalogo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3333/Catalogo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modulo12.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogoService_ObterDescricaoProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDescricaoProduto" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_ObterDescricaoProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDescricaoProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_SalvarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:SalvarProduto" />
  </wsdl:message>
  <wsdl:message name="ICatalogoService_SalvarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalvarProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogoService">
    <wsdl:operation name="ObterDescricaoProduto">
      <wsdl:input wsam:Action="http://tempuri.org/ICatalogoService/ObterDescricaoProduto" message="tns:ICatalogoService_ObterDescricaoProduto_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICatalogoService/ObterDescricaoProdutoResponse" message="tns:ICatalogoService_ObterDescricaoProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalvarProduto">
      <wsdl:input wsam:Action="http://tempuri.org/ICatalogoService/SalvarProduto" message="tns:ICatalogoService_SalvarProduto_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICatalogoService/SalvarProdutoResponse" message="tns:ICatalogoService_SalvarProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogoService" type="tns:ICatalogoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterDescricaoProduto">
      <soap:operation soapAction="http://tempuri.org/ICatalogoService/ObterDescricaoProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalvarProduto">
      <soap:operation soapAction="http://tempuri.org/ICatalogoService/SalvarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogoService">
    <wsdl:port name="BasicHttpBinding_ICatalogoService" binding="tns:BasicHttpBinding_ICatalogoService">
      <soap:address location="http://localhost:3333/Catalogo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>